{% extends "template.twig" %}

{% block titolo %}
	{{ titolo }}
{% endblock %}



{% block content %}
	{% if login_errato|default(false)  %}
		<p style="color:#FF0000"> Hai sbagliato il login! </p>
	{% endif %}
	<form name="login_form" id="login_form"  method="POST">
		
		<p>
			Username <input type="text" name="username" id="username" placeholder="username" />
		</p>
		<p>
			Password <input type="password" name="password" id="password" placeholder="password" />
		</p>	
		
		<input type="submit" name="login" id="login" value="Login" />	
		
	</form>
{% endblock %}
